<table
    *ngIf="categories.length"
    class="table table-striped table-editable no-margin mb-sm"
>
  <thead>
  <tr>
    <th>Id</th>
    <th>Название категории</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td [routerLink]="['../category/' + category.id]">
      {{ category.id }}
    </td>
    <td [routerLink]="['../category/' + category.id]">
      {{ "(" + category.catalogDto.name + ")" + category.name }}
    </td>
    <td>
    <button tc-button view="error" (click)="delete(category)">
        Удалить
      </button>
    </td>
  </tr>
  </tbody>
</table>
<button tc-button view="success" [routerLink]="['../category/new']">
  Добавить
</button>