.width-5 {
  width: 5%;
  flex: auto;
}

.width-10 {
  width: 10%;
  flex: auto;
}

.width-15 {
  width: 15%;
  flex: auto;
}

.width-20 {
  width: 20%;
  flex: auto;
}

.width-30 {
  width: 30%;
  flex: auto;
}

.width-40 {
  width: 40%;
  flex: auto;
}

.width-50 {
  width: 50%;
  flex: auto;
}

.width-60 {
  width: 60%;
  flex: auto;
}

.width-70 {
  width: 70%;
  flex: auto;
}
