<table
    *ngIf="catalogs.length"
    class="table table-striped table-editable no-margin mb-sm"
>
  <thead>
  <tr>
    <th>Id</th>
    <th>Название каталога</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let catalog of catalogs">
    <td [routerLink]="['../catalog/' + catalog.id]">
      {{ catalog.id }}
    </td>
    <td [routerLink]="['../catalog/' + catalog.id]">
      {{ catalog.name }}
    </td>
    <td>
      <button tc-button view="error" (click)="delete(catalog)">
        Удалить
      </button>
    </td>
  </tr>
  </tbody>
</table>
<button tc-button view="success" [routerLink]="['../catalog/new']">
  Добавить
</button>