<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<footer th:fragment="footer">
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6">
          <h4>Информация</h4>
          <ul class="list-unstyled">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О магазине</a></li>
            <li><a href="#">Оплата и доставка</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Время работы</h4>
          <ul class="list-unstyled">
            <li>г. Воронеж, ул. Плехановская, 14</li>
            <li>пн-вс: 9:00 - 20:00</li>
            <li>без перерывов</li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Контакты</h4>
          <ul class="list-unstyled">
            <li><a href="tel:88008887771">8 800 888-777-1</a></li>
            <li><a href="tel:88008887772">8 800 888-777-2</a></li>
            <li><a href="tel:88008887773">8 800 888-777-3</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Мы в сети</h4>
          <ul class="footer-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-vk"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>

</body>
</html>